<p>
my-component works!
</p>
<div class="row">
  <div class="col-6">
    <div class="container">
      <div class="abs-center">
        <form action="#" class="border p-3 form">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="" class="btn">validar</a>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="container">
      <div class="abs-center">
        <form action="#" class="border p-3 form">
          <div class="form-group">
            <label for="id">Id</label>
              <input type="text"  [(ngModel)]="" name="usuario" >
          </div>
          <button type="submit" class="btn btn-primary" (click)="validar()">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
